name: Build and deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      contents: "write"
      id-token: "write"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-submit
      - name: Bygg og publiser docker bilde
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: nks-aiautomatisering
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: "write"
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v4
      - name: Deploy development
        uses: nais/deploy/actions/deploy@v2
        env:
          IMAGE: ${{ needs.build.outputs.image }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev-gcp.yaml
          VAR: ingress=nks-bob-api.ansatt.dev.nav.no
      - name: Deploy production
        uses: nais/deploy/actions/deploy@v2
        if: github.ref == 'refs/heads/main'
        env:
          IMAGE: ${{ needs.build.outputs.image }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/prod-gcp.yaml
          VAR: ingress=nks-bob-api.ansatt.nav.no

